<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Confirm</title>
</head>
<body>
    <h1>Deseja realmente deletar {{ person.fullName }}</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <br>
    <button><a href="{% url 'list_person' %}">Cancelar</a></button>
</body>
</html>